dialog {
    width: 100%;
    max-height: 50rem;
    max-width: 30rem;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    top: 5rem;
  }
  
  @media (min-width: 768px) {
    dialog {
    padding: 2rem;
    }
  }