<dialog open aria-labelledby="Add-Profile">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom d-flex justify-content-between mb-10 p-2">
              <h5 class="modal-title">Create Role</h5>
              <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
            </div>
            <!-- <app-personal-details-form [form]="form"></app-personal-details-form> -->
            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder" formControlName="role_name">
              </mat-form-field>
            <ul formArrayName="modules">
                @for(module of Modules.controls;track module; let m_ind = $index ){
                    <li [formGroupName="m_ind"]>
                        <mat-checkbox (change)="onParentChange($event,m_ind)"> {{this.module_permissions[m_ind].name}} </mat-checkbox>
                        <ul formArrayName="m_ind.children">
                            @for(control of this.getFormArray(m_ind).controls;track control;let c_ind = $index){
                                <mat-checkbox (change)="onChildChange($event,m_ind,c_ind)"> {{this.module_permissions[m_ind].permissions[c_ind].action}} </mat-checkbox>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <div class="modal-footer d-flex justify-content-start mt-2">
              <button 
                type="submit" 
                mat-flat-button
                [disabled]="!(form.valid && form.dirty)"
                [ngStyle]="{
                  'color': (form.valid && form.dirty) ? 'white' : 'darkgray',
                  'opacity': (form.valid && form.dirty) ? '1':'0.5',
                }">Save</button>
            </div>
          </div>
        </div>
    </form>
  </dialog>