<div [formGroup]="form">
    <ul formArrayName="modules">
        @for(module of Modules.controls;track module; let m_ind = $index ){
            <li [formGroupName]="m_ind">
                <mat-checkbox formControlName="checked" (change)="onParentChange($event,m_ind)"> 
                {{this.module_permissions[m_ind].name}} 
                </mat-checkbox>
                <ul formArrayName="children">
                    @for(control of this.getFormArray(m_ind).controls;track control;let c_ind = $index){
                    <li>
                        <mat-checkbox [formControlName]="c_ind" (change)="onChildChange($event,m_ind,c_ind)"> 
                        {{this.module_permissions[m_ind].permissions[c_ind].action}} 
                        </mat-checkbox>
                    </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>