<dialog open>
<div class="modal-content">
    <div class="modal-header border-bottom d-flex justify-content-between">
      <h1 class="modal-title fs-5" > Delete</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body mt-5 mb-4">
      {{this.deleteMessage}}
    </div>
    <div class="modal-footer d-flex justify-content-start mt-2 gap-3">
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onDelete()">Delete</button>
    </div>
</div>
</dialog>