<dialog open aria-labelledby="Add-Profile">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom d-flex justify-content-between mb-10 p-2">
              <h5 class="modal-title">Export Records</h5>
              <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
            </div>
            <div class="mt-4 mb-2 justify-content-start">
                <p>Choose a file type to download records:</p>
                <mat-radio-group aria-label="Select an option" formControlName="download_option">
                    <mat-radio-button value="pdf">PDF</mat-radio-button>
                    <mat-radio-button value="csv">CSV</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="modal-footer d-flex justify-content-end mt-2">
              <button 
                type="submit" 
                mat-flat-button
                [disabled]="!(form.valid && form.dirty)"
                [ngStyle]="{
                  'color': (form.valid && form.dirty) ? 'white' : 'darkgray',
                  'opacity': (form.valid && form.dirty) ? '1':'0.5',
                }">Download</button>
            </div>
          </div>
        </div>
    </form>
  </dialog>